* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1300px;
    /* height: 3386px; */
    margin: 0 auto;
}

.section1 {
    width: 1300px;
    height: 430px;
    background-image: url(img/bg_section1.jpg);
}

.section2 {
    width: 1300px;
    height: 586px;
    background-color: #f9f9f9;
}

.section3 {
    height: 790px;
    padding-top: 50px;
    padding-left: 85px;
    position: relative;
}

.section4 {
    height: 455px;
    padding-top: 50px;
    padding-left: 85px;
    position: relative;
    background-color: #f9f9f9;
}

.section5 {
    padding-top: 50px;
    padding-left: 85px;
    background-color: #1b1a1a;
    height: 428px;
}

.footer {
    background-color: #f9f9f9;
    height: 620px;
}

.menu {
    width: 55px;
    height: 33px;
    margin-left: 85px;
    margin-top: 46px;
    float: left;
}

.info {
    float: left;
    margin-top: 80px;
}

.name {
    color: #ffffff;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    margin-left: 696px;
    float: left;
}

.rect1 {
    margin-left: 693px;
    margin-top: 10px;
    float: left;
}

.rect2 {
    margin-left: 693px;
    margin-top: 10px;
    float: left;
}

.special {
    float: left;
    margin-left: 693px;
    margin-top: 5px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 36.48px;
    text-transform: uppercase;
}

.hire {
    background-color: #fb6470;
    margin-left: 790px;
    margin-top: 15px;
    float: left;
    border: none;
    outline: none;
    border-radius: 10px;
    position: relative;
    height: 50px;
    width: 150px;

}

/* .hire:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 50px;
	background: rgba(255,255,255,0.3);
	border-radius: 10px;
	transition: all 2s ease;
}

.hire:hover:before {
	width: 100%;
} */

.text {
    display: inline-block;
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 36.48px;
    text-decoration: none;
}

.about {
    float: left;
    margin-left: 85px;
    margin-top: 50px;
    width: 600px;
}

.about_me {
    color: #3e3e3e;
    font-family: "Raleway - Semi Bold";
    font-size: 32px;
    font-weight: 400;
    line-height: 36.48px;
}

.my_skills {
    color: #ffffff;
    font-family: "Raleway - Semi Bold";
    font-size: 32px;
    font-weight: 400;
    line-height: 36.48px;
}

#me {
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 15px;
}

ul>li {
    list-style-type: none;
}

.list_item {
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    font-family: "Raleway - Semi Bold";
    font-weight: 400;
    font-family: "Raleway - Medium";
    font-weight: 500;
}

.photo {
    float: left;
    margin-top: 30px;
    margin-left: 35px;
}

.exp {
    width: 1214px;
    height: 790px;
}

.edu {
    width: 1214px;
    height: 455px;
}

.skills {
    height: 427px;
    position: relative;
}

.bubble1 {
    position: absolute;
    top: 297px;
    left: 165px;
    background-image: url(img/Rounded_Rectangle_4.png);
    width: 512px;
    height: 147px;
}

.bubble2 {
    position: absolute;
    top: 637px;
    left: 165px;
    background-image: url(img/Rounded_Rectangle_4.png);
    width: 512px;
    height: 147px;
}

.bubble3 {
    position: absolute;
    top: 179px;
    right: 46px;
    background-image: url(img/Rounded_Rectangle_5.png);
    width: 512px;
    height: 147px;
}

.bubble4 {
    position: absolute;
    top: 528px;
    right: 46px;
    background-image: url(img/Rounded_Rectangle_5.png);
    width: 512px;
    height: 147px;
}

.line,
.line2 {
    position: absolute;
    left: 689px;
    top: 199px;
}

.position {
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 62.78px;
    width: 440px;
    height: 17px;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: -6px;

}

.period {
    color: #fb6470;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 62.78px;
    text-transform: uppercase;
    width: 440px;
    height: 17px;
    margin-left: 20px;
    margin-top: -2px;
}

.description {
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.62px;
    width: 440px;
    height: 17px;
    margin-left: 20px;
    margin-top: 10px;
}

.position1 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 62.78px;
    width: 440px;
    height: 17px;
    margin-left: 60px;
    margin-top: -10px;
    margin-bottom: -6px;

}

.period1 {
    color: #fb6470;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 62.78px;
    text-transform: uppercase;
    width: 440px;
    height: 17px;
    margin-left: 60px;
    margin-top: -2px;
}

.description1 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.62px;
    width: 440px;
    height: 17px;
    margin-left: 60px;
    margin-top: 10px;
}

.progress_wrapper {
    position: absolute;
    top: 100px;
}

.progress_wrapper2 {
    position: absolute;
    top: 200px;
}

.progress_wrapper3 {
    position: absolute;
    top: 300px;
}

.progress_wrapper4 {
    position: absolute;
    top: 100px;
    left: 640px;
}

.progress_wrapper5 {
    position: absolute;
    top: 200px;
    left: 640px;
}

.progress_wrapper6 {
    position: absolute;
    top: 300px;
    left: 640px;
}

.progress {
    position: relative;
    width: 450px;
    height: 20px;
    overflow: hidden;
    background: #fb6470;
    border-radius: 30px;
}

.strips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 6px 100%;
}

.grayback {
    position: relative;
    left: 57%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.grayback2 {
    position: relative;
    left: 35%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.grayback3 {
    position: relative;
    left: 10%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.grayback4 {
    position: relative;
    left: 85%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.grayback5 {
    position: relative;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.grayback6 {
    position: relative;
    left: 90%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.indentation {
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 17.19px;
    margin-bottom: 18px;
}

.form-wrapper {
    width: 540px;
    height: 500px;
    float: left;
}

.decor {
    position: relative;
    position: relative;
    width: 510px;
    height: 490px;
    margin-left: 30px;
    border-radius: 30px;
    float: left;
    padding-right: 40px;
}

.form-inner {
    padding: 50px;
    padding-top: 20px;
}

.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #353541;
    line-height: 55px;
    border-width: 0;
    border-radius: 20px;
    font-family: "Raleway - Medium Italic";
}

.form-inner input[type="submit"] {
    margin-top: 30px;
    background: #fb6470;
    color: white;
    font-size: 14px;
}

.form-inner textarea {
    resize: none;
}

.form-inner h3 {
    margin-top: 0;
    font-family: "Raleway - Semi Bold";
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
    color: #3e3e3e;
}

.inform-wrapper {
    position: relative;
    width: 720px;
    float: left;
    height: 490px;
}

.social {
    width: 1300px;
    height: 125px;
    float: left;
    margin-left: auto;
    margin-right: auto;

}

a {
    text-decoration: none;
}

.disp {
    text-align: center;
    margin-top: 25px;
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
}

.h2-info {
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
}

.p-info {
    color: #3e3e3e;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
}

.home-text {
    position: absolute;
    top: 91px;
    left: 185px;
    }

.mail-text {
    position: absolute;
    top: 215px;
    left: 185px;
}

.phone-text {
    position: absolute;
    top: 328px;
    left: 185px;
}

.home {
    position: absolute;
    top: 100px;
    left: 130px;
}

.mail {
    position: absolute;
    top: 225px;
    left: 130px;
}

.phone {
    position: absolute;
    top: 335px;
    left: 130px;
}

html {
    scroll-behavior: smooth;
}

.main-menu {
    display: none;
}